{% extends "base.html" %}
{% import 'macros/links.html' as links %}
{% block title %}{{ super() }} • Calisthenics Exercise{% endblock%}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-10">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe id="ytplayer" type="text/html" src="https://www.youtube.com/embed/?listType=search&list={{ title|urlencode }}%20exercise&wmode=transparent" frameborder="0" allowfullscreen></iframe>
            </div>
            <p>Exercise videos showing how to perform a {{ title }}.</p>
            <hr>
            <h1>{{ title }}</h1>
            {{ body }}
        </div>
        <div class="col-md-2">
            {% if groups %}
                <h3>Groups</h3>
                <ul class="list-unstyled">
                {% for d in groups %}
                    <li>{{ d }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            {% if muscles %}
                <h3>Muscles</h3>
                <ul class="list-unstyled">
                {% for d in muscles %}
                    <li>{{ d }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            {% if variants %}
                <h3>Variants</h3>
                <ul class="list-unstyled">
                {% for d in variants %}
                    <li>{{ d }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

    {% if equipment %}
    <div class="row">
        <div class="col-md-12">
            <h2>{{ title }} Equipment</h2>
            {% for path in equipment %}
                {{ links.doc_link('/equipment/' + path + '/') }}
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}