{% extends "base.html" %}
{% import 'macros/links.html' as links %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ title }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h3>Primary Muscle</h3>
            {% if primary_muscle %}
                {{ links.doc_link('/muscle/' + primary_muscle + '/') }}
            {% endif %}
            <h3>Secondary Muscles</h3>
            {% if secondary_muscles %}
                {% for d in secondary_muscles %}
                    {{ links.doc_link(d.url) }}
                {% endfor %}
            {% endif %}
            <h3>Force</h3>
            {{ force }}
        </div>
        <div class="col-md-9">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{ video }}" frameborder="0" allowfullscreen></iframe>
            </div>
            <p>Exercise video showing how to perform a {{ title }}.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">{{ body }}</div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>{{ title }} Equipment</h2>
            {% for path in equipment %}
                {{ links.doc_link('/equipment/' + path + '/') }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}